
<div ng-controller="wechatApp.views.bindwechat as vm">
    <div class="weui-cells__title">微信账号绑定</div>
    <form class="weui-cells weui-cells_form" name="userForm" novalidate>
        <div class="weui-cell">
            <div class="weui_cell_hd">
                <div class="weui-label">
                    账号
                </div>
            </div>
            <div class="weui-cell__bd weui-cell_primary">
                <input class="weui-input" type="text" name="userAccount" ng-model="user.account"
                       required 
                       ng-pattern="/^[A-Za-z0-9]+$/"
                       placeholder="您要绑定的掌赢专家账号"/>
                <input type="hidden" ng-if="userForm.userAccount.$error.required" ng-model="valid.errors" value="{{valid.errors='掌赢专家账号不能为空'}}"/>
                <input type="hidden" ng-if="userForm.userAccount.$error.pattern" ng-model="valid.errors" value="{{valid.errors='输入的账号格式不正确'}}"/>
             </div>
            <div class="weui-cell__ft">
                <i class="weui-icon-warn"></i>
            </div>
        </div>
        <div class="weui-cell">
            <div class="weui_cell_hd">
                <div class="weui-label">
                    密码
                </div>
            </div>
            <div class="weui-cell__bd weui-cell_primary">
                <input class="weui-input" type="password" name="userPassword" ng-model="user.password" required placeholder="您要绑定的掌赢专家账号密码"/>
                <input type="hidden" ng-if="userForm.userPassword.$error.required && !userForm.userAccount.$error.required
                       &&!userForm.userAccount.$error.pattern" ng-model="valid.errors" value="{{valid.errors='密码不能为空'}}" />
             </div>            
        </div>
        
        <div class="weui-btn-area">
            <a class="weui-btn weui-btn_primary" ng-disabled="!userForm.$valid" id="showTooltips" ng-click="vm.confirm()">确定</a>
        </div>
    </form>    
</div>

