<div ng-controller="wechatApp.views.bindemail as vm">
    <div class="weui-cells__title">电子邮箱绑定
        <a href="javascript:void(0)" class="weui-cell_link weui-extend-back" ng-click="vm.back()">返回</a>
    </div>

    <form class="weui-cells weui-cells_form" name="bindEmailForm" novalidate>
        <div class="weui-cell">
            <div class="weui_cell_hd">
                <div class="weui-label">
                    账号
                </div>
            </div>
            <div class="weui-cell__bd weui-cell_primary">
                <input class="weui-input" type="text" name="userAccount" ng-model="vm.user.userInfo.userName"
                       required
                       disabled="disabled" />
            </div>
            <div class="weui-cell__ft">
                <i class="weui-icon-warn"></i>
                <div class="weui-cell__ft">*</div>
            </div>
        </div>
        <div class="weui-cell">
            <div class="weui_cell_hd">
                <div class="weui-label">
                    密码
                </div>
            </div>
            <div class="weui-cell__bd weui-cell_primary">
                <input class="weui-input" type="password" name="userPassword" ng-model="vm.bindEmialModel.password" required placeholder="您要绑定的掌赢专家账号密码" />
            </div>
            <div class="weui-cell__ft">*</div>
        </div>

        <div class="weui-cell">
            <div class="weui_cell_hd">
                <div class="weui-label">
                    邮箱
                </div>
            </div>
            <div class="weui-cell__bd weui-cell_primary">
                <input class="weui-input" type="email"
                       name="userEmail"
                       ng-model="vm.bindEmialModel.email"
                       required
                       ng-pattern=@Html.Raw(@"/^[a-zA-Z0-9.!#$%&’*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$/")
                       placeholder="您要绑定的电子邮箱" />
            </div>
            <div class="weui-cell__ft">*</div>
        </div>

        <div class="weui-cell weui-cell_vcode">
            <div class="weui-cell__hd">
                <label class="weui-label">验证码</label>
            </div>
            <div class="weui-cell__bd">
                <input class="weui-input" type="tel"
                       name="validCode"
                       required
                       ng-model="vm.bindEmialModel.validCode" 
                       placeholder="邮箱验证码">
            </div>
            <div class="weui-cell__ft">
                <a href="javascript:;"
                   class="weui-vcode-btn"
                   ng-class="{'weui-not-active':vm.obtainValidCode}"
                   ng-click="vm.getValidCode()">获取验证码</a>
            </div>
        </div>

        <div class="weui-cell">
            <div class="weui-cell__bd">
                <div class="weui-cells__tips">如果您需要根据微信修改密码或是找回密码则要求先绑定邮箱</div>
            </div>
        </div>

        <div class="weui-btn-area">
            <a class="weui-btn weui-btn_primary" ng-class="{'weui-btn_plain-disabled':!userForm.$valid}" ng-disabled="!userForm.$valid" id="showTooltips" ng-click="vm.confirm()">绑定</a>
        </div>

    </form>

</div>