<div ng-controller="wechatApp.views.wechatforjeuci as vm">
    <div ng-show="vm.isNeedCallBack">
        <p>{{vm.tipMessage}}</p>
    </div>

    <div ng-show="!vm.isNeedCallBack && !vm.showUserInfo">
        <p> {{vm.tipMessage}}</p>
    </div>

    <div ng-show="vm.showUserInfo">
        <p>用户账号信息界面</p>
        <input type="hidden" ng-model="vm.isNeedCallBack" />
        <p>{{vm.isNeedCallBack}}</p>

        <input type="hidden" ng-model="vm.openId" />

        <p>{{vm.openId}}</p>
    </div>


</div>
