<div ng-controller="wechatApp.views.wechatforjeuci as vm">
    <div ng-show="vm.isNeedCallBack">
        <p>请稍等...正在获取用户信息</p>
    </div>

    <div ng-show="!vm.isNeedCallBack && !vm.isNeedCallBack">
        <p> 您还没有绑定掌盟专家账号，请先绑定掌盟专家账号...</p>
    </div>

    <div ng-show="vm.showUserInfo">
        <p>用户账号信息界面</p>
        <input type="hidden" ng-model="vm.isNeedCallBack" />
        <p>{{vm.isNeedCallBack}}</p>

        <input type="hidden" ng-model="vm.openId" />

        <p>{{vm.openId}}</p>
    </div>


</div>
