<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />

    
    <!--请求的时效期-->
    <add key="ExpirationDuration" value="5" />
    <!--加密的盐值-->
    <add key="SaltFigure" value="Y2RmNGI4NzNlODg5NjNmMjI5NGRmMGVk" />
    
    <!--与微信公众平台对接相关配置项-->
    <!--TOKEN-->
    <add key="WechatToken" value="N2U2OTUwZTQ4NzQwMmZlZDkyMmI5YTJj" />

    <add key="WechatAppid" value="wx8ff8f76e8ecd0d57" />
    
    <add key="WechatAppSecret" value="9870aa51fe956cd437cbfebc9cd736ab" />

    <!--<add key="WechatUri" value="https://api.weixin.qq.com"/>-->
    <add key="WechatOpenUri" value="https://open.weixin.qq.com" />
    
    
    <!--WechatServiceAddress for Dev-->
    <!--<add key="WechatServiceAddress" value="http://192.168.1.41:8081" />-->   
    <add key="WechatServiceAddress" value="http://project.camew.com" /> 
    
  
    <!--邮箱推送服务器-->
    <add key="DirectEmailService" value="http://118.178.242.29:8081" />
    <add key="EmaliServiceToken" value="Y2RmNGI4NzNlODg5NjNmMjI5NGRmMGVk" />
    
    <!--电子邮件验证码有效时长  单位：min -->
    <add key="emailValidDuration" value="3" />
    
    <!--彩票服务器地址-->
    <add key="LotteryServiceAddress" value="http://idx.camew.com" />

    <add key="CpTypeSIdMap" value="[{sId:1,cpType:'cqssc'},{sId:2,cpType:'pks'},{sId:3,cpType:'gdklsf'},{sId:4,cpType:'cqklsf'},{sId:5,cpType:'jx11x5'},{sId:6,cpType:'gd11x5'},{sId:7,cpType:'sd11x5'},{sId:8,cpType:'jsks'},{sId:9,cpType:'kl8'}]" />
        

    <add key="FreePlanNum" value="5" />

    <add key="PlanServiceAddress" value="http://plan.camew.com" />

    <add key="RechargeFreeList" value="100,200,500,1000,2000"/>

    <add key="alipayPublicKey" value="MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEA0R1Bc9WgrRNQVJSW/3ebH9H9E1rYfVdDMDyFUYu/WNSbhkBivcIWhUxQrkyGXe1BVxnZCrzLWXXEZcbdBgq+dkCM0PPNtU9WOfacs8XGnpR4u7b3QHV7VGLHSSo/O7sDMbDGxCJJQtGu7c+oNasLXfrga3DvDdDOjhEvupfC2v/LKpkPOXMmjmIbeSppxDbq6FA/Qy5WS0wwNWeOiXRgg39X88MJ2ABkCa90XdXUQS0lVSFuhAN/wYOb/nLNKP97divDffDVFsRPMgJJMUqGN/wBy70qvL8U3+SBwiX2F7Nq2f/YjpKkWBGtdXu0QIJxK+AHc4Y+xcipxpSNorREbQIDAQAB"/>

    <add key="appPriviteKey" value="MIIEowIBAAKCAQEAyE7yaSN9FX8HznD1GlCROJaKUgOy3y5dVQNB4S1SPj9Dj0+Q
HCTrwz0nb87hm+7YIOo8c5u45AR5Tb9fjWlmFiURUZsAqv5burYj5ar+j50+gum4
QFWyFYco5C4Vs2ViBhcOl8UiYhVooCPxQlXnSaT+/eKiNszbv+RR3lwRsFfMVJzv
TwwVjjetYTXx7/PkobgQaOOsuzN1SBfCHpYivR+22FThMvS54JEdffdh9BxQGy8J
LDc4xNYXwqoSY4qVXB1NsYQcRMtV4RrUMLuKpAHHwOLVFVXmtcbXNbcsJtuoqkUT
0rNPBTb4QSh6VI5h2qkBuriAdmiBQdZyypAaNQIDAQABAoIBAFryXWYXUue7sZOt
/dtg0U7cKxlpzIFAz+eVfwf6R+kzWD1tZoUgzlrrHUjKqeze2Qq4z5G+FoiQ73K5
fWz7efp8Ag0HT5pTutpfcJUKumIChytxatLrFdxobcyMkBXP5l3Vgi6utxnJlqN/
Lj9sOYNagtxLVlODWBMcW3+WVgG2TE0DXVn0xAojZ/gMK474TOCg6cFiU20GCywZ
K+iEBlkt6xqXeDjw0ECZIELdXfUxvTd90tM9wO6Pr/9QTt7GFENJuYI5WcizlvfA
OG+UFn2PKanChTbR2EJc6qUiJTf/zZObKdELtowBZGQegOkBP1TL/JW6r1a3sc0E
X6HKL4ECgYEA/7CtARj2TiJ/fZ3+kDcZVFrZwfnylopTGf2sfZILd7urfMnnWfAe
wJy8U2ssy5XoF/ADCoZaGqgQZUwKjv5j/6qMZbFWz7/js513Now6INkNXgjnn5mP
aR+Y9hTc99EdPf6JemsPTlenVO/Juv09gQkQGwoS/DyUCMWgRKywqF0CgYEAyI0W
+BxlA/aMFckH7eUB1JQ/knLUadrmRiR+IEwe5UHFIT1y1pR9UKDE/H0mDPflZHKo
CNM3JCHKj9FePzr8gXJmkjV+K3/MwoyrxSaVQHuVZ5yNZ7ccooKfVMYHcAX/5Dkz
ADrSSrzXUTqziGMrgKaNXF5WHbJjR/TYgHLtO7kCgYAWgO45EoFbDx45aBZnivHn
wrc3o0/+f94gg3sS8i+gMhw9t2dtOvz55tGMZfpjUKZEtRMPchOsFO6ce7zSKQGU
FuaUbK8/SZw4yrsbSewzx+atSAtauKEul2FXBy8LgJQaSLTA2XtXYc+QYipXEsK/
AJUyTAivuoUs4Hfik3BY4QKBgB64dhdFijfEMYs4wy0u0kv09ZQCYQViEboW5vcd
kfH+VCsWVZwHHPcX2XTv2r9LzejII3NOn3i6cGP9Z1l6OKm/k3S8Gvqg1gXLNJi7
o0tAYw9/DK4hf5JpPezndMY1NRCJroVPfV0TdkwsGMpAnq5TVP4cOUbNR6YDHJL4
h9yJAoGBAO59F19UPoE94AVBwoNfTOSd/mzErtmAa1v7cubM8D7JWSnuEulHtdhW
9F58+S0H3oR6cGEXAcf653UehlvJDZg7GPRS28VbfGt7DfwcLs7mUohNrlvtvrP3
rP4CzP1T4Tk/9iczJ11F7miO0eoGadVgprL6TGBYjLrh8/SZGak+"/>

    <add key="alipayAppId" value=""/>
    <add key="alipayServerUrl" value=""/>
    <add key="alipayReturnUrl" value=""/>
    <add key="alipayPid" value=""/>

  </appSettings>
  <connectionStrings>
    <add name="Default" connectionString="Data Source=118.178.242.29;Initial Catalog=CCDB;Persist Security Info=True;User ID=project_sa;Password=password!@#" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5.2" />
      </system.Web>
  -->
  <system.web>
    <globalization culture="auto" uiCulture="auto" />
    <compilation debug="true" targetFramework="4.5.2">
      <assemblies>
        <add assembly="System.Runtime, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.5.1" />
    <customErrors mode="Off" />
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="FluentMigrator" publicKeyToken="aacfc7de5acabf05" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.0.0" newVersion="1.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http.WebHost" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="AutoMapper" publicKeyToken="be96cd2c38ef1005" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.0" newVersion="4.1.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Collections.Immutable" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.1.36.0" newVersion="1.1.36.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework.DynamicFilters" publicKeyToken="146423a1b8d60775" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.3.0.0" newVersion="2.3.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true">
      <remove name="WebDAVModule" />
    </modules>
    
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <remove name="WebDAV" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
    <staticContent>
      <remove fileExtension=".woff" />
      <remove fileExtension=".woff2" />
      <mimeMap fileExtension=".woff" mimeType="application/font-woff" />
      <mimeMap fileExtension=".woff2" mimeType="application/font-woff" />
    </staticContent>
  </system.webServer>
</configuration>