
<div class="weui-cells__title">我的信息</div>
<div class="weui_cells">
    <div class="weui-cell">
        <div class="weui_cell_hd">
            <div class="weui-label">
                用户名:
            </div>
        </div>
        <div class="weui-cell__bd  weui-cell_primary">
            {{vm.jeuciAccount.userInfo.userName}}
        </div>
        <div class="weui-cell__ft">
            <img ng-src="{{vm.jeuciAccount.userWechatInfo.headImgUrl}}" style="height: 30px;width: 30px" alt="我的头像"/>
        </div>
    </div>

    <div class="weui-cell">
        <div class="weui_cell_hd">
            <div class="weui-label">
                手&nbsp;&nbsp;&nbsp;机:
            </div>
        </div>
        <div class="weui-cell__bd  weui-cell_primary">
            {{vm.jeuciAccount.userInfo.mobile}}
        </div>
    </div>

    <div class="weui-cell">
        <div class="weui_cell_hd">
            <div class="weui-label">
                昵&nbsp;&nbsp;&nbsp;称:
            </div>
        </div>
        <div class="weui-cell__bd  weui-cell_primary">
            {{vm.jeuciAccount.userWechatInfo.nickName}}
        </div>
    </div>

    <div class="weui-cell">
        <div class="weui_cell_hd">
            <div class="weui-label">
                电子邮件:
            </div>
        </div>
        <div class="weui-cell__bd  weui-cell_primary">
            <div ng-show="vm.jeuciAccount.isBindEmail">
                {{vm.jeuciAccount.userInfo.email}}
            </div>
            <div ng-hide="vm.jeuciAccount.isBindEmail">
                <a href="#/bindemail/{{vm.jeuciAccount.openId}}" class="weui-cell_link">绑定邮箱</a>
            </div>
        </div>
    </div>

    <div class="weui-cell">
        <div class="weui_cell_hd">
            <div class="weui-label">
                操&nbsp;&nbsp;&nbsp;作:
            </div>
        </div>
        <div class="weui-cell__bd  weui-cell_primary">
            <div ng-show="vm.jeuciAccount.isBindWechat">
                <a href="javascript:void(0)" class="weui-cell_link" ng-click="vm.unbindAccount()">解绑账号</a>
                <span ng-show="vm.jeuciAccount.isBindEmail">|</span>
                <a ng-show="vm.jeuciAccount.isBindEmail" href="#/modifypwd?isNeedCallBack=false&openId={{vm.jeuciAccount.openId}}" class="weui-cell_link">修改密码</a>
                <span ng-show="vm.jeuciAccount.isBindEmail">|</span>
                <a href="#" class="weui-cell_link" ng-show="vm.jeuciAccount.isBindEmail">忘记密码</a>
            </div>

        </div>
    </div>

  



</div>