<div ng-controller="wechatApp.views.modifypwd as vm">
    <div ng-show="vm.isNeedCallBack">
        <p>{{vm.tipMessage}}</p>
    </div>

    <div ng-show="!vm.isNeedCallBack && !vm.obtainUserInfo">
        <p> {{vm.tipMessage}}</p>
    </div>

    <div ng-show="vm.obtainUserInfo">
        <div class="weui-cells__title">修改密码</div>
        <form class="weui-cells weui-cells_form" name="userForm" novalidate>
            <div class="weui-cell">
                <div class="weui_cell_hd">
                    <div class="weui-label">
                        账号
                    </div>
                </div>
                <div class="weui-cell__bd weui-cell_primary">
                    <input class="weui-input" type="text" name="userAccount" ng-model="vm.user.accountName"
                           disabled="disabled"/>
                </div>
                <div class="weui-cell__ft">
                    <i class="weui-icon-warn"></i>
                </div>
            </div>

            <div class="weui-cell">
                <div class="weui_cell_hd">
                    <div class="weui-label">
                        旧密码
                    </div>
                </div>
                <div class="weui-cell__bd weui-cell_primary">
                    <input class="weui-input"
                           type="password"
                           name="oldPassword"
                           ng-model="vm.user.oldPassword"
                           required 
                           placeholder="请输入掌赢专家旧密码" />

                </div>
            </div>

            <div class="weui-cell">
                <div class="weui_cell_hd">
                    <div class="weui-label">
                        新密码
                    </div>
                </div>
                <div class="weui-cell__bd weui-cell_primary">
                    <input class="weui-input"
                           type="password"
                           name="newPassword"
                           ng-model="vm.user.newPassword"
                           required
                           ng-pattern="/^[\w\W]{6,}$/" 
                           placeholder="请输入您的新密码" />

                </div>
            </div>

            <div class="weui-cell">
                <div class="weui_cell_hd">
                    <div class="weui-label">
                        确认新密码
                    </div>
                </div>
                <div class="weui-cell__bd weui-cell_primary">
                    <input class="weui-input"
                           type="password"
                           name="confirmNewPassword"
                           ng-model="vm.user.confirmNewPassword"
                           required 
                           placeholder="请重新输入您的新密码" />
                </div>
            </div>

            <div class="weui-btn-area">
                <a class="weui-btn weui-btn_primary" ng-disabled="!userForm.$valid" id="showTooltips" ng-click="vm.confirm()">确认</a>
            </div>
        </form>
    </div>
    
</div>