<div ng-controller="wechatApp.views.rechargefreelist as vm">
    <div ng-show="vm.isNeedCallBack">
        <p>{{vm.tipMessage}}</p>
    </div>

    <div ng-show="!vm.isNeedCallBack && !vm.showUserInfo">
        <p> {{vm.tipMessage}}</p>
    </div>
    <div ng-show="vm.showUserInfo">
        <div class="weui-cells__title">
            <div class="weui-label">充值账户</div>
            <div class="weui-cell__bd">
                <span ng-if="vm.jeuciAccount.userInfo.userName">
                    {{vm.jeuciAccount.userInfo.userName}}
                </span>
                <span ng-hide="vm.jeuciAccount.userInfo.userName">
                    {{vm.jeuciAccount.userInfo.mobile}}
                </span>
            </div>
        </div>
        <div class="recharge-container">
            <ul class="recharge-list">
                <li ng-repeat="item in vm.freeList" ng-click="vm.rechargeAmount(item)"
                    ng-class="{'recharge-li':vm.rechargeAcount != item || vm.selectOtherItem,
                    'recharge-selected':vm.rechargeAcount == item && !vm.selectOtherItem}">
                    {{item}}元
                </li>
                <li ng-class="{'recharge-li':!vm.selectOtherItem,'recharge-selected':vm.selectOtherItem}"  ng-click="vm.selectOther()">
                    其他:
                    <input type="number" class="weui-input recharge-input"  ng-change="vm.inputRecharge()" ng-model="vm.inputRechargeValue"/>
                </li>
            </ul>
            <div style="clear: both;"></div>

            <div class="weui-cell">
                <div class="weui-cell__bd">
                    <p class="recharge-tips">充值金额:<span>{{vm.rechargeAcount}}</span></p>
                </div>
            </div>

            <a href="javascript:;" class="weui-btn weui-btn_primary next-step" ng-click="vm.purchase()">下一步</a>
        </div>
        </div>
    </div>