.weui-toptips_success {
  background-color: #1AAD19;
}

.weui-extend-back {
    float: right;
    padding-right: 5px;
}


.weui-not-active {
   pointer-events: none;
   cursor: default;
   color:  gray
}

.lottery-type-list {
    margin:0 4px;
}

.tips-list {
    color: #999999; 
    font-size: 12px;
    line-height: 18px;
    margin: 0 3px;
}

.lottery-service-list {
    color: #000000; 
    font-size: 14px;

}

.service-price {
    margin-left: 16px;
}

.service-price span {
    display: inline-block;
    text-align: left;
    width: 85px !important;
    
}