.weui-toptips_success {
  background-color: #1AAD19;
}

.weui-extend-back {
    float: right;
    padding-right: 5px;
}


.weui-not-active {
   pointer-events: none;
   cursor: default;
   color:  gray
}

.lottery-type-list {
    margin:0 4px;
}

.tips-list {
    color: #999999; 
    font-size: 12px;
    line-height: 18px;
    margin: 0 3px;
}

.lottery-service-list {
    color: #000000; 
    font-size: 14px;

}

.service-price {
    margin-left: 16px;
}

.service-price span {
    display: inline-block;
    text-align: left;
    width: 85px !important;
    
}

.recharge-container {
    margin-top: 15px;
}

.recharge-list {
        
}

.recharge-list li {
    list-style-type: none;
    float: left;
    height: 30px;
    width: 90px;
    margin:3px 5px;
    padding: 2px 2px 2px 8px;
    font-family: 'MicrosoftYaHei';
    font-weight: 600;
    text-align: center;
}

.recharge-tips {
    color: #999999; 
    font-size: 16px;
    line-height: 18px;
    margin: 0 3px;
}

.recharge-input {
    width: 40px !important;
    
}

.recharge-li {
    border: 1px #999999 solid;
    color: #999999;
 
}

.recharge-selected {
    border: 1px  #3232CD solid;
    color: #3232CD
}